.container {
    width: 980px;
}

.mobile-display {
    display: block
}

.desktop-display {
    display: none;
}

.sticky-logo {
    float: left;
    padding: 10px;
    width: 150px;
}

.dropdown-toggle, .sticky-content {
    display: block;
}

body {
    left: 0;
    transition: all 0.9s ease-in-out 0s;
    -webkit-transition: all 0.9s ease-in-out 0s;
    -moz-transition: all 0.9s ease-in-out 0s;
    -ms-transition: all 0.9s ease-in-out 0s;
}

body:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    z-index: 100;
    opacity: 0;
    transition: all 0.9s ease-in-out 0s;
    -webkit-transition: all 0.9s ease-in-out 0s;
    -moz-transition: all 0.9s ease-in-out 0s;
    -ms-transition: all 0.9s ease-in-out 0s;
    visibility: hidden;
}

.fixed-body:before {
    opacity: 1;
    visibility: visible;
}

.sticky-nav {
    background: #fff none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    z-index: 1001;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    transition: all 0.9s ease-in-out 0s;
    -webkit-transition: all 0.9s ease-in-out 0s;
    -moz-transition: all 0.9s ease-in-out 0s;
    -ms-transition: all 0.9s ease-in-out 0s;
    z-index: 9999999;
}

.header {
    position: static;
}

.top-margin {
    margin: 0;
}

.subpage-content {
    margin-top: 40px;
}

.sticky-in {
    right: 0;
    width: 33.33%;
}

.nav-section {
    clear: both;
    float: none;
}

.top-header, .header-number .text, .right-header .schedule-consult .phone-icon {
    display: none;
}

.toggle-icon, .dropdown-toggle {
    display: block;
}

.nav-section .menu > li {
    display: block;
    text-align: left;
}

.nav-section .menu > li > a {
    padding: 10px;
}

.nav-section .sub-menu, .nav-section .menu li:hover .sub-menu, .nav-section .sub-menu, .nav-section .menu li:hover .sub-menu .sub-menu {
    display: none;
}

.nav-section .menu li .sub-menu {
    background: #2094a1;
    position: static;
    width: 100%;
}

.nav-section .sub-menu a {
    padding: 10px 20px !important;
}

.header .header-number {
    background: #2094a1 none repeat scroll 0 0;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 9999999;
}

.header .header-number a, .header-number span {
    color: #fff;
}

.logo {
    float: left;
    padding: 58px 0 10px;
}

.home-page-tabs h2.resp-accordion {
    background: #e67d36 none repeat scroll 0 0;
    border-bottom: 1px solid #d26922;
    clear: both;
}

.cancle-bt {
    display: none;
}

.home-page-tabs h2.resp-tab-active {
    background: #2094a1 !important;
}

.remolding-tabs.home-page-tabs .left-content {
    padding: 0 10px;
    width: 100%;
}

.home-page-tabs.remolding-tabs .resp-tab-content {
    float: left;
    margin: 0;
    padding: 20px 5px;
    width: 100%;
}

.home-page-tabs.remolding-tabs, .home-page-tabs.our-process-tabs {
    padding: 30px 10px;
}

.home-page-tabs .left-content {
    width: 100%;
}

.home-page-tabs .right-content {
    width: 100%;
    margin: 20px 0;
    border: 2px solid #f5f5f5;
}

.home-page-tabs .right-content a {
    color: #ffffff;
    display: table;
    margin: 20px auto 0;
}

h2.resp-accordion {
    color: #fff;
}

.resp-accordion br {
    display: none;
}

.hover-icon, .tab-icon {
    display: none;
}

.home-page-tabs .resp-tab-content {
    background: #fff;
    color: #707070;
    position: relative;
    margin: 0;
    padding: 30px 0;
}

.home-page-tabs .right-content a {
    background: #72ac39;
    color: #ffffff;
}

.home-page-tabs .right-content a:hover {
    background: #e67d36 !important;
    color: #ffffff !important;
}

.home .service-area-main {
    padding: 15px 0;
}

.product-hover {
    padding: 10px;
}

.product-hover p {
    font-size: 16px;
}

.product-col .product-name {
    padding: 20px 0 20px 20px;
}

.product-col img {
    display: block;
    height: auto;
    width: 100%;
}

.address {
    float: none;
}

.get-started-form .col-md-8 {
    border-right: 2px solid #97cdd2;
}

.get-started-form .col-md-4 {
    border-left: 0;
    padding: 60px 0 60px 20px;
}

.get-started-form .gform_wrapper li {
    width: 100%;
}

.get-started-form .gform_footer.top_label button {
    padding: 20px;
}

#input_2_6 iframe {
    left: -18px;
    position: relative;
    transform: scale(0.8);
}

.banner-content {
    top: 16px;
}